.searchBoxInput {
  width: 290px;
  padding: 5px;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid rgb(156, 39, 176);
  color: rgb(224, 224, 224);
}

.searchBoxInput:focus {
  outline: none;
  border-color: #f5f5f5;
}

.searchBoxText {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-bottom: 5px;
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .searchBoxInput {
    width: 340px;
  }
}
