.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
  margin-left: 35px;
  color: hsl(210, 100%, 35%);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;

  
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .link {
   font-size: 18px;
  }
}