.contactContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 290px;
  padding: 15px;
  border: 1px solid hsl(210, 100%, 35%);
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.contactContainer:hover {
  background: #2c2c2c;
  transform: scale(1.02);
}
.contactTitle,
.contactText {
  display: flex;
  gap: 10px;
  font-weight: 600;
  font-size: 18px;
}

.contactIcon {
  width: 18px;
  height: 18px;
  color: hsl(210, 100%, 35%);
}

.deleteBtn {
  display: block;
  padding: 10px;
  border: 1px solid rgb(156, 39, 176);
  border-radius: 5px;
  background-color: transparent;
  color: rgb(224, 224, 224);
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.deleteBtn:hover,
.deleteBtn:focus {
  background-color: rgb(144, 0, 255);
  border-color: rgb(144, 0, 255);
}

/* Styles for Tablet devices */
@media screen and (min-width: 768px) {
  .contactContainer {
    width: 340px;
  }
}
