

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
   background-color: rgb(18, 18, 18); 
  color: rgb(224, 224, 224); 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: rgb(224, 224, 224);
  margin-bottom: 20px;
} */

ul,
ol {
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

